.contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  color: var(--lightest-slate);
  justify-content: center;
}

.number {
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}

.overline {
  display: block;
  margin-bottom: 20px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}

.title {
  font-size: clamp(40px, 5vw, 60px);
  color: var(--lightest-slate);
  margin-bottom: 30px;
}

.description {
  font-size: var(--fz-lg);
  color: var(--slate);
  margin-bottom: 50px;
  line-height: 1.5;
}

.emailLink {
  display: inline-block;
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
}

.emailLink:hover,
.emailLink:focus {
  background-color: var(--green-tint);
  outline: none;
}

@media (max-width: 768px) {
  .contact {
    padding: 80px 0;
  }
  
  .title {
    font-size: clamp(30px, 5vw, 40px);
    margin-bottom: 20px;
  }
  
  .description {
    font-size: var(--fz-md);
    margin-bottom: 40px;
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 60px 0;
  }
  
  .heading {
    margin-bottom: 30px;
  }
  
  .title {
    font-size: clamp(24px, 5vw, 30px);
  }
  
  .description {
    font-size: var(--fz-sm);
    padding: 0 15px;
  }
  
  .emailLink {
    padding: 1rem 1.5rem;
    font-size: 14px;
  }
} 